html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: "Geist";
}

body {
    margin: 0;
    background: #fafafa;
}

@font-face {
    font-display: swap;
    font-family: 'Geist';
    font-weight: 100 800;
    src: url('/fonts/geist/GeistVariableVF.woff2') format('woff2-variations');
}

@font-face {
    font-display: swap;
    font-family: 'Geist Mono';
    font-style: normal;
    font-weight: 100 800;
    src: url('/fonts/geist/GeistMonoVariableVF.woff2') format('woff2-variations');
}